.homeWrapper{
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    margin-top:-10px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    align-content: center;
background: #FAFAFA;
}