.homeWrapper{
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    margin-top:-10px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    align-content: center;
background: #FAFAFA;
}

.Timeline_view_wrapper{
    background: #FFFFFF;
    position: absolute;
    width: 70%;
    height: 60%;
    top:40%;
    position: absolute;
    left:50%;
    transform: translate(-50%, -50%);
    border: 2px solid #EFEFEF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}