
#main{
    background: url('../resources/backgrounds/lockbox_background.jpg');
    background-repeat: no-repeat;
    width:100%;
    max-height:100%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    align-content: center;
   background-attachment: fixed;
}