#SearchComponent{
    height:200px;
    width: 100%;
    background-color: none;
    align-content: center;
    border-radius: 10px;
    margin-top:-10px;
    margin-left: 10px;
}
.toggleView{
    width:40%;
    height:120px;
    background:none;
    margin: auto;
    padding: 10px;
}
#searchField{
    background-color: #EFEFEF;
    background-image: url('../../../resources/PNGs/magnifying_glass.png');
    background-size: 20px 20px;
    background-position: 97% 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 52px;
    width:60%;
    border:none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    display: block;
    text-align: left;
    font-size:20px;
    -webkit-tap-highlight-color: #EFEFEF
}
/* .option-one{
    width: 30%;
    height: 40px;
    float: left;

background: #F9E09A;
border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 0px 10px 10px 0px;
}
.option-two{
height: 40px;
width:30%;
margin-left: 15%;
background: #FFFFFF;
border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 10px 0px 0px 10px;
transform: matrix(-1, 0, 0, 1, 0, 0);
} */